@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/MyriadProRegular/HelveticaNeueCyr-Medium.otf");
}
.clr {
	clear: both;
}   
body {
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue", sans-serif;
}
a {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0;
	padding: 0;
}
/*font-family: 'Open Sans', sans-serif;*/
.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}
header {
	background: #e1e1e1;
}
.header-content {
	background: #53545e;
	padding: 35px 30px;
}
.logo {
	float: left;
	background: url(../img/logo.jpg) 0 5px no-repeat;
}
.logo > a {
	padding:0 0 3px 57px;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
.logo a > span {
	color: #7e7f88;
}
.logo a:hover {
	text-decoration: none;
}
.header-text {
	float: right;
}
.header-text > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #f1f1f1;
}
.header-text > p > a {
	color: #a6a7b0;
}
.main-content {
	background: #f1f1f1;
}
.main-content p {
	font-size: 14px;
	color: #bfc0c3;
}
.main-content > .wrapper {
	padding: 30px;
	background: #fff;
}
.item {

}
.item > img{
	width: 100%;
}
.bottom-line {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
}
.item > .h2 {
	display: inline-block;
	margin: 15px 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #53545e;
}
.details-link {
	display: inline-block;
	margin: 30px 0;
	padding: 10px;
	text-transform: uppercase;
	background: #53545e;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.details-link:hover {
	color: #fff;
	text-decoration: none;
}
.free-space {
	padding-bottom: 30px;
	border-bottom: 1px solid #eaeaea;
}
.add-space > a > img {
	width: 100%;
}
footer {
	background: #e1e1e1;
}
footer > .wrapper {
	padding: 30px;
}
.saty-connected {
	background: #f1f1f1;
}
.footer-bottom {
	background: #53545e;
}